Layout = "~/Views/Shared/_MasterLayout.cshtml";



<html>
<body>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Login", "Index", "Branch")
                <!--<input type="button" value="Forgot Password"--> @*onclick="window.location.href('@Url.Action("Index","Branch")')"*@ <!--/>-->
            </td>
        </tr>
    </table>
</body>
</html>



