



            
<html>
<body>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Login","Index", "Department")
                <!--<input type="button" value="Forgot Password"--> @*onclick="window.location.href('@Url.Action("Index","Branch")')"*@ <!--/>-->
            </td>
        </tr>
    </table>
</body>
</html>
              


